@using System;
@using System.Collections.Generic;
@using System.Diagnostics;
@using System.Data;
@using System.Linq;
@using PlanExecut.Code;
@using PlanExecut.Web.Areas.PlanOrderManage.Controllers;
@using PlanExecut.Web.Areas.PlanOrderManage.VO;
@using PlanExecut.Web.Areas.ZhiLingManage.Services;
@using System.Web;
<html>
<head>
    <meta charset="utf-8">
    <title>计划值指令维护</title>
    <script src="~/Content/lib/jquery-3.6.0.min.js"></script>
    <link href="~/Content/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/lib/bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/lib/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>

    <style>
        table {
            font-size: small;
        }

        td {
            vertical-align: middle;
        }

        fieldset {
            padding: 2em 1px;
        }

        legend {
            font-size: xx-small;
        }

        .edit-row {
            border: dashed 1px #ff6a00;
            display: none;
        }

        td.longtext {
            word-wrap: break-word;
        }

        .header {
            position: -webkit-sticky;
            position: sticky;
            background-color: white !important;
            top: 0;
        }

        .clicked {
            border-left: solid;
        }
    </style>

</head>


@{
    var service = new ZhiLingService();


    var all = service.Service1_指令维护页面使用的_用户自定义指令();
    var groups = all.GroupBy(i => i.DeviceCode).Select(j => j.Key).ToList();


    var defaultDanYuan = Request.QueryString ["DanYuan"];
    if (defaultDanYuan == null) {
        defaultDanYuan = groups.First();
    }


    var 用户定义的指令数据 = all.Where(i => i.DeviceCode == defaultDanYuan).ToList();


    var defaultOrderTypeId = Request.QueryString ["OrderTypeId"];
    if (defaultOrderTypeId == null) {
        defaultOrderTypeId = 用户定义的指令数据.First().ID.ToString();
    }



    var 点位号数据 = service.Service2_指令维护页面使用的_点位号数据(defaultDanYuan, defaultOrderTypeId);

    var 单位数据 = service.DanWei_Service1_所有单位数据();
}



<body>



    <div>


        @* ------------------------------ 左侧装置及其 ------------------------------ *@
        <div style="position: fixed; top:1em; bottom:1em; left:1%; width:19%; overflow: auto;">
            <table id="tableDanYuan" class="table" style="table-layout:fixed;">
                <tr>
                    <td style="width:70%">
                        <select id="selDanYuan" class="form-select">
                            @{
                                foreach (var group in groups) {
                                    <option value="@group" selected="@(group == defaultDanYuan)">@group</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" value="@defaultDanYuan" />
                        <input type="text" placeholder="新增指令名称" style="width:100%;" />
                    </td>
                    <td style="text-align:right;">
                        <button type="button" class="fa fa-push" style="width:100%" id="btnAddZhiLing"> 新增</button>
                    </td>
                </tr>
                @{
                    foreach (var one in 用户定义的指令数据) {
                        <tr title="@one.ToJson()">
                            <td class="danyuan-row" data-id="@one.ID">
                                @one.OrderName
                            </td>
                            <td style="text-align:right;">
                                <button type="button" class="btnEdit fa fa-pencil form-button"></button>
                                <button type="button" class="btnDelete fa fa-trash-o" data-id="@one.ID"></button>
                            </td>
                        </tr>
                        <tr class="edit-row">
                            <td><input type="text" value="@one.OrderName" /></td>
                            <td style="text-align:right;">
                                <button type="button" class="btnSave fa fa-save" flag="装置单元项" data-index="@(用户定义的指令数据.IndexOf(one))"></button>
                                <button type="button" class="btnCancel fa fa-ban"></button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        @* ------------------------------ 左侧装置及其 ------------------------------ *@








        @* ------------------------------ 右侧点位号信息 ------------------------------ *@
        <div style="position:fixed; top:1em; right:1%; bottom:1em; left:21%; overflow:auto;">
            <iframe id="iframe1" style="width:100%; height:100%;"></iframe>
        </div>
        @* ------------------------------ 右侧点位号信息 ------------------------------ *@




    </div>




    <script type="text/javascript">
        var ZhiLingJsonData = @Html.Raw(用户定义的指令数据.ToJson());


        function 修改自定义指令的名称(target) {
            var index = parseInt($(target).attr("data-index"))
            var one = ZhiLingJsonData[index]
            var 编辑行 = $(target).parents("tr")
            var 只读行 = 编辑行.prev()

            one.OrderName = 编辑行.find(":text").val()
            $.ajax({
                type: 'post',
                url: '/ZhiLingManage/ZhiLing/修改自定义指令的名称',
                data: one,
                success: function () {
                    只读行.find(".danyuan-row").text(one.OrderName)
                    编辑行.hide()
                    只读行.show()
                }
            })
        }



        $(function () {
            $("#selDanYuan").change(function () {
                location.href = "/ZhiLingManage/ZhiLing/WeiHu?DanYuan=" + this.value
            })

            $(".danyuan-row").click(function () {
                var danyuan = $("#selDanYuan").val()
                var orderTypeId = $(this).attr("data-id")
                $("#iframe1").attr("src", "/ZhiLingManage/ZhiLing/WeiHuDianWei?DanYuan=" + danyuan + "&OrderTypeId=" + orderTypeId)

                $(".clicked").removeClass('clicked')
                $(this).addClass('clicked')
            })

            $(".btnEdit").click(function () {
                var thisRow = $(this).parents("tr")
                var nextRow = thisRow.next()
                thisRow.hide()
                nextRow.show()
            })

            $(".btnSave").click(function () {
                if ("装置单元项" === $(this).attr("flag")) {
                    修改自定义指令的名称(this)
                } else {
                    修改点位号等信息(this)
                }
            })

            $(".btnCancel").click(function () {
                var thisRow = $(this).parents("tr")
                var prevRow = thisRow.prev()
                thisRow.hide()
                prevRow.show()
            })

            $("#btnAddZhiLing").click(function () {
                var textbox = $(this).parent().prev().find(":text")
                var orderName = textbox.val()
                var deviceCode = textbox.siblings(":hidden").val()
                $.ajax({
                    type: 'post',
                    url: '/ZhiLingManage/ZhiLing/新增自定义指令',
                    data: { DeviceCode: deviceCode, OrderName: orderName },
                    success: function () {
                        location.reload()
                    }
                })
            })


            $("#btnDelete").click(function () {
                var id = $(this).attr("data-id")
                if (confirm('确定删除吗？')) {
                    $.ajax({
                        type: 'post',
                        url: '/ZhiLingManage/ZhiLing/删除一个指令',
                        data: { ID: id },
                        success: function () {
                            location.reload()
                        }
                    })
                }
            })


            // 自动点击第一行
            var $first = $(".danyuan-row").first()
            $first.addClass('clicked')
            $first.click()

        })
    </script>
</body>
</html>






